@keyframes opacity-0-to-1 {
  0% {
    opacity: 0;
    transform: scale(0.97);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
html {
  scroll-behavior: smooth;
}

.dissapear {
  opacity: 0 !important;
  background-color: transparent;
}

.indicator {
  width: 2px;
  height: 5vw;
  background-color: rgb(110, 111, 113);
  position: relative;
}
.indicator::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 100%);
  border-radius: 50%;
  background-color: rgb(110, 111, 113);
}

.indicator-horizontal {
  position: relative;
  width: 5vw;
  height: 2px;
  background-color: rgb(110, 111, 113);
}
.indicator-horizontal::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: rgb(110, 111, 113);
}

.story-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.story-label p {
  margin-top: 20px;
  margin-left: -5px;
  white-space: nowrap;
  font-family: Helvetica, sans-serif;
  font-style: italic;
  color: #6e6f71;
  font-weight: 700;
}

.story-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  gap: 20px;
}
.story-header h6 {
  font-family: "Archivo-Black";
  font-size: 30px;
}
.story-header a {
  font-family: Helvetica, sans-serif;
  padding: 20px 70px;
  color: white;
  background-color: black;
  border-radius: 12px;
  transition: background-color 0.3s ease-in-out;
}
.story-header a:hover {
  background-color: rgb(0, 75, 255);
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.56) 0%, transparent 100%);
  z-index: 99999;
}

footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 130px;
  background: white;
  z-index: 99999;
}
footer .footer-nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10vw;
  width: 100%;
}
footer .footer-nav ul li a {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  color: black;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
footer .footer-nav ul li a:hover {
  color: #0f0f0f;
}
footer p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.intro-page-body {
  background-color: rgb(34, 34, 34);
  position: relative;
}
.intro-page-body .visible-container {
  position: absolute;
  background-image: linear-gradient(rgba(34, 34, 34, 0.8), rgba(34, 34, 34, 0.2));
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  align-items: center;
  padding: 50px 25%;
}
.intro-page-body .visible-container .content {
  font-family: Helvetica, sans-serif;
  color: white;
  font-size: 1.25rem;
  text-align: center;
  font-style: italic;
  line-height: 24px;
  font-weight: 700;
}
.intro-page-body .see-more {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 30px;
  gap: 17px;
}
.intro-page-body .see-more a {
  font-family: "Archivo-Black";
  font-size: 1.25rem;
  color: white;
  text-decoration: none;
}
.intro-page-body .see-more .fa-solid {
  color: #fff;
  font-size: 1.5rem;
  transition: all 0.3s ease-in-out;
}
.intro-page-body .see-more:hover {
  cursor: pointer;
}
.intro-page-body .see-more:hover .fa-solid {
  transform: translateY(5px);
}
.intro-page-body .photo-spawner {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  position: relative;
}
.intro-page-body .photo-spawner img {
  opacity: 0;
  position: absolute;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  animation: opacity-0-to-1 3s;
  animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -moz-animation: opacity-0-to-1 2s;
  -webkit-animation: opacity-0-to-1 2s;
  -webkit-animation-fill-mode: forwards;
}
.intro-page-body .photo-spawner .rent {
  z-index: 1;
  width: 50vw;
  height: auto;
  top: 13%;
  left: 10%;
  animation-delay: 2s;
}
.intro-page-body .photo-spawner .car {
  z-index: 2;
  width: 50vw;
  height: auto;
  top: 7%;
  right: 3%;
  animation-delay: 4s;
}
.intro-page-body .photo-spawner .phoneview {
  z-index: 3;
  width: 35vw;
  height: auto;
  bottom: 10%;
  left: 22%;
  animation-delay: 6s;
}
.intro-page-body .photo-spawner .thumbnail {
  z-index: 4;
  width: 35vw;
  height: auto;
  bottom: 23%;
  left: -10%;
  animation-delay: 8s;
}
.intro-page-body .photo-spawner .old-photo {
  z-index: 5;
  width: 37vw;
  height: auto;
  bottom: 30%;
  left: 5%;
  animation-delay: 10s;
}
.intro-page-body .photo-spawner .fisheye {
  z-index: 6;
  width: 40vw;
  height: auto;
  bottom: 22%;
  left: 20%;
  animation-delay: 12s;
}

.stories-page-body {
  background-color: rgb(236, 236, 236);
}
.stories-page-body .nav-container nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.stories-page-body .nav-container nav ul li {
  background: #0e141b;
  padding: 20px 30px;
  background-color: rgb(38, 43, 50);
  border: 1px solid #262b32;
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.25);
  border-radius: 72px;
}
.stories-page-body .nav-container nav ul li a {
  color: #fff;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  text-decoration: none;
  font-weight: 200;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.stories-page-body .nav-container nav ul li a .fa-arrow-down {
  transition: 0.2s ease-in-out;
}
.stories-page-body .nav-container nav ul li:hover a .fa-arrow-down {
  transform: rotateZ(180deg);
}
.stories-page-body .canvas {
  width: 100vw;
  overflow-x: auto;
}
.stories-page-body .canvas .scroll-area {
  position: relative;
  width: 100vw;
  overflow-x: scroll;
  background-color: rgb(236, 236, 236);
}
.stories-page-body .canvas .scroll-area .top-stories {
  display: flex;
  width: 120vw;
}
.stories-page-body .canvas .scroll-area .top-stories .first-story {
  position: relative;
  left: 0%;
  width: 40vw;
}
.stories-page-body .canvas .scroll-area .top-stories .first-story img {
  width: 100%;
}
.stories-page-body .canvas .scroll-area .top-stories .first-story .story-label {
  margin: -12% 0 0 10%;
}
.stories-page-body .canvas .scroll-area .top-stories .first-story .story-header {
  margin-left: calc(10% - 5px);
  margin-top: 10px;
}
.stories-page-body .canvas .scroll-area .top-stories .first-story .story-header h6 {
  white-space: nowrap;
}
.stories-page-body .canvas .scroll-area .top-stories .news-folded {
  position: relative;
  width: 75vw;
  right: 0;
  margin-top: -15%;
  z-index: 2;
  display: flex;
}
.stories-page-body .canvas .scroll-area .top-stories .news-folded img {
  width: 100%;
}
.stories-page-body .canvas .scroll-area .top-stories .news-folded .content {
  display: flex;
  flex-direction: column;
}
.stories-page-body .canvas .scroll-area .top-stories .news-folded .content .story-label {
  flex-direction: row;
  position: absolute;
  bottom: 47%;
  left: 88%;
}
.stories-page-body .canvas .scroll-area .top-stories .news-folded .content .story-label .indicator-horizontal {
  background-color: black;
  position: absolute;
  right: 188px;
}
.stories-page-body .canvas .scroll-area .top-stories .news-folded .content .story-label .indicator-horizontal:before {
  background-color: black;
}
.stories-page-body .canvas .scroll-area .top-stories .news-folded .content .story-label p {
  margin: 0;
  margin-top: 2px;
  bottom: 0;
  left: 110%;
  color: black;
  transform: translateY(-50%);
}
.stories-page-body .canvas .scroll-area .top-stories .news-folded .content .story-header {
  width: 420px;
  line-height: 45px;
  position: absolute;
  bottom: 47%;
  left: 88%;
  transform: translateY(100%);
}
.stories-page-body .canvas .scroll-area .top-stories .news-folded .content .story-header h6 {
  white-space: nowrap;
}
.stories-page-body .canvas .scroll-area .top-stories .news-folded .content .story-header a {
  line-height: normal;
}
.stories-page-body .canvas .scroll-area .middle-stories {
  width: 120vw;
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: -18%;
}
.stories-page-body .canvas .scroll-area .middle-stories .old-photo {
  z-index: 3;
  position: relative;
  width: 35%;
  margin-top: 140px;
  margin-left: -5%;
  display: flex;
}
.stories-page-body .canvas .scroll-area .middle-stories .old-photo img {
  width: 100%;
  height: auto;
}
.stories-page-body .canvas .scroll-area .middle-stories .old-photo .content {
  align-self: flex-end;
  margin-bottom: 70px;
}
.stories-page-body .canvas .scroll-area .middle-stories .old-photo .content .story-header {
  width: 600px;
  position: relative;
}
.stories-page-body .canvas .scroll-area .middle-stories .old-photo .content .story-header .indicator-horizontal {
  position: absolute;
  top: 10px;
  left: -30px;
  transform: translateX(-100%);
  width: 3vw;
}
.stories-page-body .canvas .scroll-area .middle-stories .fxriwebi {
  z-index: 4;
  position: relative;
  width: 30%;
  display: flex;
}
.stories-page-body .canvas .scroll-area .middle-stories .fxriwebi img {
  width: 100%;
  object-fit: contain;
  align-self: flex-start;
}
.stories-page-body .canvas .scroll-area .middle-stories .fxriwebi .content {
  align-self: center;
  margin-left: 32px;
}
.stories-page-body .canvas .scroll-area .middle-stories .fxriwebi .content .story-header {
  width: 350px;
  position: relative;
}
.stories-page-body .canvas .scroll-area .middle-stories .fxriwebi .content .story-header h6 {
  line-height: 36px;
}
.stories-page-body .canvas .scroll-area .middle-stories .fxriwebi .content .story-header .indicator-horizontal {
  position: absolute;
  top: 10px;
  left: -30px;
  transform: translateX(-100%);
  width: 3vw;
}
.stories-page-body .canvas .scroll-area .bottom-stories {
  display: flex;
  margin-top: 60px;
  width: 120vw;
}
.stories-page-body .canvas .scroll-area .bottom-stories .news {
  width: 50%;
}
.stories-page-body .canvas .scroll-area .bottom-stories .news img {
  width: 100%;
}
.stories-page-body .canvas .scroll-area .bottom-stories .news .content {
  margin-top: -10%;
  margin-left: 7%;
}
.stories-page-body .canvas .scroll-area .bottom-stories .news .content .story-label {
  margin-bottom: 10px;
  margin-left: 5px;
}
.stories-page-body .canvas .scroll-area .bottom-stories .iphone {
  width: 50%;
  height: 50%;
  display: flex;
  align-items: center;
}
.stories-page-body .canvas .scroll-area .bottom-stories .iphone img {
  width: 50%;
}
.stories-page-body .canvas .scroll-area .bottom-stories .iphone .content {
  margin-top: -15%;
}
.stories-page-body .canvas .scroll-area .bottom-stories .iphone .content .story-label {
  margin-bottom: 10px;
  margin-left: 5px;
  position: relative;
}
.stories-page-body .canvas .scroll-area .bottom-stories .iphone .content .story-label .indicator-horizontal {
  position: absolute;
  top: 10px;
  left: -30px;
  transform: translateX(-100%);
  width: 3vw;
}
.stories-page-body .canvas .scroll-area .bottom-stories .iphone .content .story-label p {
  margin-top: 5px;
}
.stories-page-body .canvas .scroll-area::-webkit-scrollbar {
  width: 0px;
}
.stories-page-body .description {
  margin-top: 50px;
  padding: 120px 133px;
  background: #f5f5f5;
  font-family: "Montserrat", sans-serif;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
.stories-page-body .description p {
  width: 70%;
  line-height: 22px;
}