@keyframes opacity-0-to-1 {
  0% {
    opacity: 0;
    transform: scale(0.97);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
/* intro page styles */
.intro-page-body {
  background-color: rgb(34, 34, 34);
  position: relative;
}
.intro-page-body .visible-container {
  position: absolute;
  background-image: linear-gradient(rgba(34, 34, 34, 0.8), rgba(34, 34, 34, 0.2));
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  align-items: center;
  padding: 50px 25%;
}
.intro-page-body .visible-container .content {
  font-family: Helvetica, sans-serif;
  color: white;
  font-size: 1.25rem;
  text-align: center;
  font-style: italic;
  line-height: 24px;
  font-weight: 700;
}
.intro-page-body .see-more {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 30px;
  gap: 17px;
}
.intro-page-body .see-more p {
  font-family: "Archivo-Black";
  font-size: 1.25rem;
  color: white;
}
.intro-page-body .see-more .fa-solid {
  color: #fff;
  font-size: 1.5rem;
  transition: all 0.3s ease-in-out;
}
.intro-page-body .see-more:hover {
  cursor: pointer;
}
.intro-page-body .see-more:hover .fa-solid {
  transform: translateY(5px);
}
.intro-page-body .photo-spawner {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  position: relative;
}
.intro-page-body .photo-spawner img {
  opacity: 0;
  position: absolute;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  animation: opacity-0-to-1 3s;
  animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -moz-animation: opacity-0-to-1 2s;
  -webkit-animation: opacity-0-to-1 2s;
  -webkit-animation-fill-mode: forwards;
}
.intro-page-body .photo-spawner .rent {
  z-index: 1;
  width: 50vw;
  height: auto;
  top: 13%;
  left: 10%;
  animation-delay: 2s;
}
.intro-page-body .photo-spawner .car {
  z-index: 2;
  width: 50vw;
  height: auto;
  top: 7%;
  right: 3%;
  animation-delay: 4s;
}
.intro-page-body .photo-spawner .phoneview {
  z-index: 3;
  width: 35vw;
  height: auto;
  bottom: 10%;
  left: 22%;
  animation-delay: 6s;
}
.intro-page-body .photo-spawner .thumbnail {
  z-index: 4;
  width: 35vw;
  height: auto;
  bottom: 23%;
  left: -10%;
  animation-delay: 8s;
}
.intro-page-body .photo-spawner .old-photo {
  z-index: 5;
  width: 37vw;
  height: auto;
  bottom: 30%;
  left: 5%;
  animation-delay: 10s;
}
.intro-page-body .photo-spawner .fisheye {
  z-index: 6;
  width: 40vw;
  height: auto;
  bottom: 22%;
  left: 20%;
  animation-delay: 12s;
}