@mixin intro-text-styles() {
  font-family: Helvetica, sans-serif;
  color: white;
  font-size: 1.25rem;
  text-align: center;
  font-style: italic;
  line-height: 24px;
  font-weight: 700;
}

@mixin flex-column-center() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
