@import './mixins.scss';
@import './variables.scss';

@keyframes opacity-0-to-1 {
  0% {
    opacity: 0;
    transform: scale(0.97);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

// global styles
html {
  scroll-behavior: smooth;
}

.bottom-20px {
  margin-bottom: 20px;
}
.lang-switcher {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 15px;
  transition: max-height 0.3s ease-in-out;
  position: absolute;
  right: -15px;
  transform: translateX(100%);
  p,
  a {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgba(110, 111, 113, 1);
    transition: all 0.3s ease-in-out;
  }
  :first-child {
    color: white;
  }

  a {
    margin-top: 22px;

    &:hover {
      color: white;
    }
    &:active {
      color: rgba(0, 75, 255, 1) !important;
    }
  }

  &:hover {
    max-height: 500px;
  }
}
.intro-lang-switcher {
  right: 3%;
  top: 3%;
  transform: translateX(0);
  background: #0e141b;
  padding: 20px 30px;
  max-height: 58px;
  background-color: rgba(38, 43, 50, 1);
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.25);
  border: 1px solid transparent;
  border-radius: 30px;
}
.dissapear {
  opacity: 0 !important;
  background-color: transparent;
}
.indicator {
  width: 2px;
  height: 5vw;
  background-color: rgba(110, 111, 113, 1);
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 100%);
    border-radius: 50%;
    background-color: rgba(110, 111, 113, 1);
  }
}
.indicator-horizontal {
  position: relative;
  width: 5vw;
  height: 2px;
  background-color: rgba(110, 111, 113, 1);

  &::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: rgba(110, 111, 113, 1);
  }
}
.active {
  color: rgba(0, 75, 255, 1) !important;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  white-space: nowrap;
}
.story-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  p {
    margin-top: 20px;
    margin-left: -5px;
    white-space: nowrap;
    font-family: Helvetica, sans-serif;
    font-style: italic;
    color: #6e6f71;
    font-weight: 700;
  }
}
.story-header {
  @include flex-column-center();
  align-items: flex-start;
  position: relative;
  gap: 20px;

  h6 {
    font-family: $Archivo-black;
    font-size: 30px;
  }
  a,
  .disabled-button {
    font-family: Helvetica, sans-serif;
    padding: 20px 70px;
    color: white;
    background-color: black;
    border-radius: 12px;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: rgba(0, 75, 255, 1);
    }
  }

  .disabled-button {
    cursor: not-allowed;

    &:hover {
      background-color: black;
    }
  }

  .bw-image {
    transform: scale(2) translate(0px, 35%);
    z-index: 2 !important;

    @media (max-width: 1440px) {
      transform: scale(1.8) translate(-5px, 35%);
    }
  }
}

.center-aligned {
  display: flex;
  flex-direction: column;
  align-items: center;
}
// header styles
header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 175px 20px 80px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.56) 0%, transparent 100%);
  z-index: 99999;
  position: relative;

  .logo-container {
    display: flex;
    gap: 3%;
    width: 100%;
    color: white;
    align-items: center;
    h6 {
      font-family: 'Helvetica', sans-serif;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.3;
      width: 50%;
    }
  }

  .nav-container nav ul {
    @include flex-row-center();
    gap: 15px;
    align-items: flex-start;
    position: relative;

    li {
      background: #0e141b;
      padding: 20px 30px;
      max-height: 56px;
      background-color: rgba(38, 43, 50, 1);
      box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.25);
      border: 1px solid transparent;
      border-radius: 30px;
      cursor: pointer;
      color: white;

      a {
        color: rgba(110, 111, 113, 1);
        font-family: Helvetica, sans-serif;
        font-size: 16px;
        text-decoration: none;
        font-weight: 400;
        @include flex-row-center();
        gap: 10px;
        transition: all 0.3s ease-in-out;

        .fa-arrow-down {
          transition: color 0.2s ease-out, transform 0.2s ease-in-out;
        }
      }
      & > :first-child {
        color: white;
      }

      &:hover {
        a {
          .fa-arrow-down {
            transform: rotateZ(180deg);
          }
          &:active {
            color: rgba(0, 75, 255, 1) !important;
          }
        }
      }
    }

    .clickable {
      li {
        color: white;
        font-family: Helvetica, sans-serif;
        font-size: 16px;
        transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
        white-space: nowrap;
      }
      &:active {
        li {
          color: rgba(0, 75, 255, 1) !important;
        }
      }
      &:hover {
        li {
          color: white;
          background-color: #004bff;
        }
      }
    }

    .expandable-stories {
      left: -15px;
      transform: translateX(-100%);
      position: absolute;
      top: 0;
      overflow: hidden;
      transition: max-height 0.3s ease-in-out;
      a {
        &:hover {
          color: white;
        }
      }
      &:hover {
        max-height: 226px;
      }

      div {
        margin-top: 18px;
        display: flex;
        justify-content: flex-start !important;
        flex-direction: column;

        a {
          width: 200px;
          white-space: nowrap;
          overflow: hidden !important;
          text-overflow: ellipsis;
          display: inline-block;
          margin-block: 5px;
        }
      }
    }
  }
}

.dark-header {
  position: absolute;
  top: 0;
  width: 100vw;
  background-color: transparent;

  .nav-container nav ul {
    li {
      background-color: rgba(14, 20, 27, 1);
      border-color: rgba(38, 43, 50, 1);
      box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.25);
    }
  }
}

.story-variant {
  position: absolute;
  top: 0;
  width: 100vw;
}

footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 45px 130px;
  background: white;
  z-index: 99999;

  .footer-nav {
    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 8vw;
      width: 100%;
      li a {
        font-family: Helvetica, sans-serif;
        font-size: 16px;
        color: black;
        text-decoration: none;
        transition: color 0.3s ease-in-out;
        white-space: nowrap;

        &:hover {
          color: rgba(0, 75, 255, 1);
        }
      }

      @media (max-width: 1440px) {
        gap: 4vw;
      }
    }
  }

  @media (max-width: 1440px) {
    padding-inline: 90px;
  }

  p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    .responsive {
      display: none;
      @media (max-width: 1440px) {
        display: block;
      }
    }
  }
}

// Intro Page Styles
.intro-page-body {
  background-color: rgba(34, 34, 34, 1);
  position: relative;

  .visible-container {
    position: absolute;
    background-image: linear-gradient(
      rgba(34, 34, 34, 0.8),
      rgba(34, 34, 34, 0.3)
    );
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    opacity: 0;
    align-items: center;
    padding: 50px 20%;
    animation: opacity-0-to-1 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -moz-animation: opacity-0-to-1 3s;
    -webkit-animation: opacity-0-to-1 3s;
    -webkit-animation-delay: 1s;
    -webkit-animation-fill-mode: forwards;
    @media (max-width: 1366px) {
      padding: 50px 10%;
    }

    .content {
      @include intro-text-styles();
      cursor: default;
    }

    p .late {
      font-size: 0.9rem;
      opacity: 0;
      animation: opacity-0-to-1 3s;
      animation-delay: 4s;
      animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
      -moz-animation: opacity-0-to-1 4s;
      -webkit-animation: opacity-0-to-1 4s;
      -webkit-animation-delay: 4s;
      -webkit-animation-fill-mode: forwards;
      line-height: 1.2;
    }
  }

  .see-more {
    @include flex-column-center();
    position: absolute;
    bottom: 30px;
    gap: 17px;

    p {
      font-family: $Archivo-black;
      font-size: 1.25rem;
      color: white;
      text-decoration: none;
    }

    .fa-solid {
      color: #fff;
      font-size: 1.5rem;
      transition: all 0.3s ease-in-out;
    }

    &:hover {
      cursor: pointer;

      .fa-solid {
        transform: translateY(5px);
      }
    }
  }

  .photo-spawner {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    position: relative;
    img {
      opacity: 0;
      position: absolute;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
      border-radius: 8px;
      animation: opacity-0-to-1 3s;
      animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
      -moz-animation: opacity-0-to-1 2s;
      -webkit-animation: opacity-0-to-1 2s;
      -webkit-animation-fill-mode: forwards;
    }

    .rent {
      z-index: 1;
      width: 50vw;
      height: auto;
      top: 13%;
      left: 10%;
      animation-delay: 6s;
    }

    .car {
      z-index: 2;
      width: 50vw;
      height: auto;
      top: 7%;
      right: 3%;
      animation-delay: 8s;
    }

    .phoneview {
      z-index: 3;
      width: 35vw;
      height: auto;
      bottom: 10%;
      left: 22%;
      animation-delay: 10s;
    }

    .thumbnail {
      z-index: 4;
      width: 35vw;
      height: auto;
      bottom: 23%;
      left: -10%;
      animation-delay: 12s;
    }

    .old-photo {
      z-index: 5;
      width: 37vw;
      height: auto;
      bottom: 30%;
      left: 5%;
      animation-delay: 14s;
    }

    .fisheye {
      z-index: 6;
      width: 40vw;
      height: auto;
      bottom: 22%;
      left: 20%;
      animation-delay: 16s;
    }
  }
}

// Stories Page Styles

.stories-page-body {
  background-color: rgba(236, 236, 236, 1);

  // navigation styles

  // canvas styles
  .canvas {
    width: 100vw;
    overflow-x: auto;
    .scroll-area {
      position: relative;
      width: 100vw;
      overflow-x: scroll;
      background-color: rgba(236, 236, 236, 1);

      .top-stories {
        display: flex;
        width: 120vw;
        .first-story {
          position: relative;
          left: 0%;
          width: 40vw;
          img {
            width: 100%;
          }

          .story-label {
            margin: -12% 0 0 10%;
          }

          .story-header {
            margin-left: calc(10% - 5px);
            margin-top: 10px;

            h6 {
              white-space: nowrap;
            }
          }
        }

        .news-folded {
          position: relative;
          width: 75vw;
          right: 0;
          margin-top: -15%;
          z-index: 2;
          display: flex;
          img {
            width: 100%;
          }

          .content {
            display: flex;
            flex-direction: column;
            .story-label {
              flex-direction: row;
              position: absolute;
              bottom: 47%;
              left: 88%;
              .indicator-horizontal {
                background-color: #6e6f71;
                position: absolute;
                right: 188px;

                &:before {
                  background-color: #6e6f71;
                }
              }

              .no-title {
                right: 25px !important;
                top: 25px !important;
              }

              p {
                margin: 0;
                margin-top: 2px;
                bottom: 0;
                left: 110%;
                color: #6e6f71;
                transform: translateY(-50%);
              }
            }

            .story-header {
              width: 420px;
              line-height: 45px;
              position: absolute;
              bottom: 47%;
              left: 88%;
              transform: translateY(100%);

              h6 {
                white-space: nowrap;
              }
              a {
                line-height: normal;
              }
            }
          }
        }
      }

      .middle-stories {
        width: 120vw;
        display: flex;
        gap: 30px;
        justify-content: center;
        margin-top: -18%;

        .old-photo {
          z-index: 999;
          position: relative;
          width: 35%;
          margin-top: 140px;
          margin-left: -5%;
          display: flex;

          img {
            width: 100%;
            height: auto;
          }

          .content {
            align-self: flex-end;
            margin-bottom: 70px;
            .story-header {
              width: 600px;

              position: relative;

              .indicator-horizontal {
                position: absolute;
                top: 10px;
                left: -30px;
                transform: translateX(-100%);
                width: 3vw;
              }
            }
          }
        }

        .fxriwebi {
          z-index: 4;
          position: relative;
          width: 30%;
          display: flex;

          img {
            width: 100%;
            object-fit: contain;
            align-self: flex-start;
          }

          .content {
            align-self: center;
            margin-left: 32px;
            .story-header {
              width: 350px;
              position: relative;
              h6 {
                line-height: 36px;
              }

              .indicator-horizontal {
                position: absolute;
                top: 10px;
                left: -30px;
                transform: translateX(-100%);
                width: 3vw;
              }
            }
          }
        }
      }

      .bottom-stories {
        display: flex;
        margin-top: 60px;
        width: 120vw;

        .news {
          width: 50%;
          img {
            width: 100%;
          }
          .content {
            margin-top: -10%;
            margin-left: 7%;

            .story-label {
              margin-bottom: 10px;
              margin-left: 5px;
            }
          }
        }

        .iphone {
          width: 50%;
          height: 50%;
          display: flex;
          align-items: center;
          img {
            width: 50%;
            z-index: 3;
            position: relative;
          }
          .content {
            margin-top: -15%;

            .story-label {
              margin-bottom: 10px;
              margin-left: 5px;
              position: relative;

              .indicator-horizontal {
                position: absolute;
                top: 10px;
                left: -30px;
                transform: translateX(-100%);
                width: 3vw;
              }

              p {
                margin-top: 5px;
              }
            }
          }
        }
      }

      &::-webkit-scrollbar {
        width: 0px;
      }
    }
  }

  .description {
    margin-top: 50px;
    padding: 120px 133px;
    background: #f5f5f5;
    font-family: 'Montserrat', sans-serif;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;

    p {
      width: 70%;
      line-height: 22px;
    }
  }
}

// about page styles
.about-main {
  background: #141413;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 200px 0 100px 0;
  width: 100%;

  p {
    color: rgba(210, 210, 209, 1);
    font-size: 20px;
    font-family: 'Helvetica', sans-serif;
    line-height: 35px;
    white-space: pre-line;
    font-weight: 200;
  }

  .disclaimer {
    font-size: 16px;
    line-height: 1.2;
    margin-top: 40px;
    text-align: center;
    font-family: 'Helvetica', sans-serif;
    font-weight: 300;
    color: rgb(138, 138, 138);
  }
}

// credits page styles
.credits {
  flex-direction: column;
  align-items: center;
  font-style: italic;
  gap: 50px;

  p {
    font-size: 20px;
    text-align: center;
    font-family: 'Helvetica', sans-serif;
    font-weight: 700;
  }

  li {
    font-size: 20px;
    color: rgb(189, 189, 189);
    text-align: center;
    font-family: 'Helvetica', sans-serif;
    font-weight: 200;
    margin-block: 10px;
  }
}

.united {
  background-image: url(../images/car-story.jpeg);
}
.unusual {
  background-image: url(../images/forsale.jpeg);
}
.same-community {
  background-image: url(../images/same-community-background.png);
}
.buildings {
  background-image: url(../images/Thumbnail.jpeg);
}

.bystander {
  background-image: url(../images/bystander.jpg);
}

// story-page-styles
.story-main {
  background: #fff;
  .story {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;

    article {
      padding: 10px 25%;
      p {
        color: #3f3f3f;
        line-height: 34px;
        font-family: 'Helvetica', sans-serif;
        font-weight: 400;
        font-size: 18px;
        width: 100%;
        padding: 0 5%;
        margin-block: 20px;
        span {
          font-weight: 600;
          font-style: italic;
        }

        a {
          color: #004bff;
          text-decoration: none;
          font-style: italic;
        }
      }

      .photo-description {
        font-size: 14px;
        line-height: 20px;
        white-space: initial;
        font-weight: 200;
        color: rgba(138, 138, 138, 1);
      }
      img {
        width: 100%;
      }
    }
  }

  .other-stories {
    width: 100%;
    padding: 5% 10% 120px 10%;
    display: flex;
    flex-direction: column;
    gap: 30px;

    h6 {
      font-size: 20px;
      font-family: 'Helvetica', sans-serif;
      font-weight: 400;
      color: black;
      margin-block: 20px;
      text-align: center;
    }

    article {
      display: flex;
      justify-content: center;
      gap: 30px;

      a {
        width: calc(100% / 5);
        overflow: hidden;
        img {
          width: 100%;
          height: 80%;
          object-fit: cover;
          filter: grayscale(100%);
          transition: filter 0.3s ease-in-out;
        }
        p {
          font-size: 18px;
          font-family: 'Helvetica', sans-serif;
          font-weight: 700;
          margin-top: 7px;
          color: #3f3f3f;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }

        &:hover {
          img {
            filter: grayscale(0%);
          }
        }
      }
    }
  }
}
.banner-section {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;

  .banner-container {
    color: white;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: flex-start;

    .label {
      font-size: 2rem;
      font-family: 'Helvetica', sans-serif;
      font-weight: 700;
      font-style: italic;
    }

    .heading {
      font-size: 2.5rem;
      font-family: $Archivo-black;
      font-weight: 700;
    }

    .author {
      font-size: 1.2rem;
      font-family: 'Helvetica', sans-serif;
      font-weight: 700;
      font-style: italic;
    }
  }
}

.slider {
  width: 650px;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.8);
  transition: filter 0.3s ease-in-out;
}

.is-visible {
  .carousel-image {
    filter: brightness(1);
  }
}

.splide__arrow {
  background-color: transparent !important;
  svg {
    fill: white !important;
  }
}

// 360 view page styles
.fisheye {
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, transparent 100%);
}

.banner {
  position: relative;
  width: 140%;
}

.banner img {
  width: 100%;
}

.dots .dot {
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 50px;
  background: #004bff;
  border-radius: 50%;
  cursor: pointer;
  animation: circle-inner 2s infinite ease-out;
}

.dots .dot:before {
  content: '';
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background: #004bff;
  position: absolute;
  opacity: 0.3;
  animation: circle-middle 2s infinite ease-out;
  left: -12px;
  top: -12px;
}

.dots .dot:after {
  content: '';
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #004bff;
  position: absolute;
  opacity: 0.3;
  animation: circle-outer 2s infinite ease-out;
  left: -25px;
  top: -25px;
}

@keyframes circle-inner {
  0% {
    opacity: 0.8;
    transform: scale(1);
  }

  100% {
    opacity: 0.1;
    transform: scale(1.5);
  }
}

@keyframes circle-middle {
  0% {
    opacity: 0.5;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}

@keyframes circle-outer {
  0% {
    opacity: 0.3;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(1.8);
  }
}

.dots .dot-1 {
  left: 36%;
  top: 52%;
}

.dots .dot-2 {
  left: 78%;
  top: 70%;
}

.dots .dot-3 {
  left: 66%;
  top: 46%;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  z-index: 99999;
  overflow: hidden;
}

.modal.show {
  display: block;
}

.modal .backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 33, 33, 0.5);
}

.modal .modal-content {
  position: absolute;
  width: 60vw;
  max-height: 80%;
  top: 10%;
  left: 20%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.25);
  padding: 20px;
  padding-bottom: 5%;
  overflow-y: scroll;
  border-radius: 5px;
}

.modal-content article figure {
  position: relative;
  margin: 10px 0;
}

.modal-article {
  padding: 5% 65px !important;
  position: relative;

  .title {
    display: flex;
    gap: 10px;
    align-items: center;
    color: #3f3f3f;
    font-size: 2rem;
    font-family: 'Helvetica', sans-serif;
    font-weight: 700;
    font-style: italic;

    .blue-circle {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #004bff;
    }
  }

  .displaced {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;

    p {
      margin: 0;
    }
  }

  p {
    padding: 0 !important;
    color: #3f3f3f;
    line-height: 34px;
    font-family: 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: 18px;
    width: 100%;
    margin-block: 20px;
  }

  .continue {
    display: flex;
    justify-content: center;
    button {
      margin: 0 auto;
      border: none;
      border-radius: 14px;
      background: #4f4f4f;
      color: white;
      font-family: 'Helvetica', sans-serif;
      padding: 25px 60px;
      font-size: 1rem;
      cursor: pointer;
      transition: background 0.3s ease-in-out;

      &:hover {
        background: #004bff;
      }
    }
  }
}

.displaced-modal {
  padding-bottom: 2% !important;

  .displaced-article {
    padding-block: 2% !important;
  }
}

.modal-content figcaption {
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 100%;
  padding: 17px;
  background-color: rgba(33, 33, 33, 0.6);
  color: #fff;
}

.modal-content article img {
  width: 100%;
}

.carousel-image {
  height: 410px;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }

  .dots .dot {
    width: 30px;
    height: 30px;
  }

  .dots .dot:before {
    width: 45px;
    height: 45px;
    left: -7px;
    top: -7px;
  }

  .dots .dot:after {
    width: 60px;
    height: 60px;
    left: -15px;
    top: -15px;
  }
}

.modal-content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #3a3a3a;
}

.modal-content::-webkit-scrollbar {
  width: 5px;
  background-color: #3a3a3a;
}

.modal-content::-webkit-scrollbar-thumb {
  background-color: #004bff;
}

.modal-close {
  position: fixed;
  top: 13vh;
  right: 21vw;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  color: #6e6f71;
  outline: none;

  transition: color 0.3s ease-in-out;

  &:hover {
    color: #004bff;
  }
}

.dot-label {
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
}

.dot-label p {
  color: white !important;
  transition: 0.3s ease-in-out;
  opacity: 0;
  padding: 0 !important;

  span {
    font-style: normal !important;
    line-height: 1 !important;
    white-space: nowrap !important;
    width: auto !important;
    margin: 0 !important;
    padding: 0 !important;
    position: relative;
    font-size: 16px !important;
    transform: translateX(-110%);
    font-weight: 400;
    display: inline-block;
    transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);

    &::before {
      content: '';
      width: 20px;
      height: 1px;
      background-color: white;
      display: inline-block;
      vertical-align: middle;
      transform: translateY(1px);
      margin-right: 15px;
      margin-bottom: 1px;
    }
  }

  &::before {
    border-radius: 50%;
    content: '';
    width: 8px;
    height: 8px;
    background-color: white;
    display: inline-block;
  }
}

.data-target-1 {
  left: 41%;
  top: 50%;
}

.data-target-2 {
  left: 83%;
  top: 68%;
}

.data-target-3 {
  left: 71%;
  top: 44%;
}

.dot-1:hover ~ .data-target-1 p span,
.dot-2:hover ~ .data-target-2 p span,
.dot-3:hover ~ .data-target-3 p span {
  transform: translateX(0);
}

.dot-1:hover ~ .data-target-1 p,
.dot-2:hover ~ .data-target-2 p,
.dot-3:hover ~ .data-target-3 p {
  opacity: 1;
}

.nav-active-item {
  color: white !important;
  cursor: default;
}

.disclaimer {
  font-family: 'Helvetica', sans-serif;
  font-size: 16px;
  text-align: center;
  margin-inline: auto;
  max-width: 710px;
  padding: 20px;
  font-weight: 300;
  font-style: italic;
  line-height: 22px;
  margin-top: 20px;
  margin-bottom: -20px;
  color: rgb(138, 138, 138);

  span {
    color: #4c81ff;
  }
}

.fisheye-footer {
  position: absolute;
  bottom: 0;
  transform: translateY(80%);
}

.disabled-story {
  opacity: 0.5;
  filter: grayscale(100%);
  cursor: not-allowed;
}

.custom-br {
  display: block;
  margin-top: 14px;
}
